# Jagwinder Singh

## Complete the notebook: JNM04 Workbook
(version 10/06/2020)

# Building a dataset

1) Enter the needed imports:

In [1]:
import quandl
import pandas as pd

2) Read in from a text file your quandl api key:

In [2]:
api_key = open('quandlapikey.txt','r').read()

3) Get Alaska Housing Price Index Data from Quandl and print the first and last 10 rows:

In [3]:
df = quandl.get("FMAC/HPI_AK", authtoken=api_key)
print(df.head(10)) 
print(df.tail(10))

            NSA Value   SA Value
Date
1975-01-31  34.416476  34.602936
1975-02-28  34.886789  35.033986
1975-03-31  35.373478  35.406863
1975-04-30  35.902714  35.783657
1975-05-31  36.523839  36.225068
1975-06-30  37.231516  36.714277
1975-07-31  37.961819  37.276366
1975-08-31  38.638704  37.937627
1975-09-30  39.224352  38.674091
1975-10-31  39.730263  39.430249
             NSA Value    SA Value
Date
2020-04-30  187.458107  185.970870
2020-05-31  189.531545  187.138240
2020-06-30  191.444437  188.452098
2020-07-31  192.811866  189.808604
2020-08-31  193.636572  191.076410
2020-09-30  194.214175  192.327076
2020-10-31  194.993419  194.120033
2020-11-30  196.109569  196.133958
2020-12-31  197.540383  198.149831
2021-01-31  199.462990  200.195994

4) Get a single table from a website of your choosing and print only one of the tables:

In [10]:
COVID_Cases = pd.read_html('https://www.statista.com/statistics/1043366/novel-coronavirus-2019ncov-cases-worldwide-by-country/')
print(COVID_Cases[0])

            Unnamed: 0  Number of cases
0                World        113597323
1                  USA         29052262
2                India         11063491
3               Brazil         10393886
4               Russia          4223186
..                 ...              ...
217  Wallis and Futuna                9
218   Marshall Islands                4
219              Samoa                3
220         Micronesia                1
221            Vanuatu                1

[222 rows x 2 columns]